/******************************************************************************
Custom Properties
******************************************************************************/
:root {
  --color-main: 230, 35%, 7%;
  --color-accent-1: 231, 77%, 90%;
  --color-accent-2: 0, 0%, 100%;
  --color-accent-3: 231, 15%, 26%;

  --opacity-home-button: 0.1;
  --opacity-nav-button: 0.5;
  --opacity-heading-number: 0.25;
  --opacity-nav-dot: 0.175;
  --opacity-nav-dot-hovered: 0.5;

  font-family: 'Bellefair', serif;
  color: hsl(var(--color-accent-2));

  --font-size--heading-1: 80px;
  --font-size--heading-2: 56px;
  --font-size--heading-3: 24px;
  --font-size--heading-4: 16px;
  --font-size--heading-5: 16px;
  --font-size--sub-heading-1: 28px;
  --font-size--sub-heading-2: 14px;
  --font-size--nav-text: 14px;
  --font-size--body-text: 15px;

  --letter-spacing--heading-5: 2.7px;
  --letter-spacing--sub-heading-2: 2.35px;
  --letter-spacing--nav-text: 2.35px;
}

/******************************************************************************
Media Queries
******************************************************************************/

@media (min-width: 600px) {
  :root {
    /* --font-size--heading-1: 150px; */
    --font-size--heading-2: 80px;
    --font-size--heading-3: 40px;
    --font-size--heading-4: 24px;
    --font-size--heading-5: 20px;
    /* --font-size--sub-heading-1: 28px; */
    /* --font-size--sub-heading-2: 14px; */
    --font-size--nav-text: 16px;
    --font-size--body-text: 16px;

    --letter-spacing--heading-5: 3.4px;
    /* --letter-spacing--sub-heading-2: 2.35px; */
    --letter-spacing--nav-text: 2.7px;
  }
}

@media (min-width: 900px) {
  :root {
    --font-size--heading-1: 150px;
    --font-size--heading-2: 100px;
    --font-size--heading-3: 56px;
    --font-size--heading-4: 32px;
    --font-size--heading-5: 28px;
    /* --font-size--sub-heading-1: 28px; */
    /* --font-size--sub-heading-2: 14px; */
    --font-size--nav-text: 16px;
    --font-size--body-text: 18px;

    --letter-spacing--heading-5: 4.75px;
    /* --letter-spacing--sub-heading-2: 2.35px; */
    --letter-spacing--nav-text: 2.7px;
  }
}

/******************************************************************************
Utility Classes
******************************************************************************/

.heading-1 {
  color: hsl(var(--color-accent-2));
  font-family: 'Bellefair', serif;
  font-size: var(--font-size--heading-1);
}

.heading-2 {
  color: hsl(var(--color-accent-2));
  font-family: 'Bellefair', serif;
  font-size: var(--font-size--heading-2);
}

.heading-3 {
  color: hsl(var(--color-accent-2));
  font-family: 'Bellefair', serif;
  font-size: var(--font-size--heading-3);
}

.heading-4 {
  color: hsl(var(--color-accent-2));
  font-family: 'Bellefair', serif;
  font-size: var(--font-size--heading-4);
}

.heading-5 {
  color: hsl(var(--color-accent-2));
  font-family: 'Barlow Condensed', monospace;
  font-size: var(--font-size--heading-5);
  letter-spacing: var(--letter-spacing--heading-5);
}

.subheading-1 {
  color: hsl(var(--color-accent-2));
  font-family: 'Bellefair', serif;
  font-size: var(--font-size--sub-heading-1);
}

.subheading-2 {
  color: hsl(var(--color-accent-1));
  font-family: 'Barlow Condensed', monospace;
  font-size: var(--font-size--sub-heading-2);
  letter-spacing: var(--letter-spacing--sub-heading-2);
}

.nav-text {
  color: hsl(var(--color-accent-1));
  font-family: 'Barlow Condensed', monospace;
  font-size: var(--font-size--nav-text);
  letter-spacing: var(--letter-spacing--nav-text);
}

.body-text {
  color: hsl(var(--color-accent-1));
  font-family: 'Barlow', serif;
  font-size: var(--font-size--body-text);
}

/******************************************************************************
Header Section
******************************************************************************/

.header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
}

.header__home-link {
}

.header__logo {
}

.header__menu-button {
  cursor: pointer;
  z-index: 3;
  min-width: 24px;
  background: none;
  border: none;
}

.header__menu-image {
  width: 100%;
}

@supports not (backdrop-filter: blur(10px)) {
  .header__nav {
    background-color: gray;
  }
}

.header__nav {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  padding: 5rem 1rem 1rem 1rem;
  width: 70%;
  height: 100%;
  backdrop-filter: blur(30px);
}

.header__list {
  list-style: none;
}

.header__list > * + * {
  /* margin-top: 1rem; */
}

.header__list-item {
}

.header__link {
  display: block;
  padding: 1rem 0;
  color: hsl(var(--color-accent-2));
}

.header__link:hover,
.header__link:focus {
  box-shadow: 0 2px 0px hsl(var(--color-accent-2));
}

.header__number {
  display: inline-block;
  min-width: 3ch;
  font-weight: bold;
}

.main {
}

/******************************************************************************
Home Section
******************************************************************************/

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__background {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  text-align: center;
  padding: 5rem 2rem 2rem 2rem;
  max-width: 100%;
}

.home__text {
}

.home__heading {
}

.home__body-text {
}

.home__explore-button {
  display: grid;
  place-content: center;
  padding: 2rem;
  aspect-ratio: 1;
  background-color: hsl(var(--color-accent-2));
  border: none;
  color: hsl(var(--color-main));
  font-size: 20px;
  letter-spacing: 1.25px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.home__explore-button:hover,
.home__explore-button:focus {
  outline: 2.5rem solid hsl(var(--color-accent-2), var(--opacity-home-button));
}

/******************************************************************************
Destination Section
******************************************************************************/

.destination {
  position: relative;
}

.destination__background {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.destination__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem 2rem 2rem;
  gap: 2rem;
}

.destination__heading {
}

.destination__heading-number {
  font-weight: bold;
  opacity: 25%;
}

.destination__planet-image {
  display: none;
}

.destination__planet-image--selected {
  display: block;
}

.destination__nav {
  width: 100%;
}

.destination__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.destination__list-item {
}

.destination__planet-button {
  background: none;
  border: none;
}

.destination__planet-button:not(.destination__planet-button--selected):hover,
.destination__planet-button:not(.destination__planet-button--selected):focus {
  padding-bottom: 5px;
  border-bottom: 2px solid hsl(var(--color-accent-2), var(--opacity-nav-button));
}

.destination__planet-button--selected {
  color: hsl(var(--color-accent-2));
  padding-bottom: 5px;
  border-bottom: 2px solid hsl(var(--color-accent-2));
}

.destination__content-text {
  display: none;
}

.destination__content-text--selected {
  display: block;
}

.destination__planet-name {
  text-align: center;
}

.destination__body-text {
  text-align: center;
}

.destination__line-separator {
  height: 2px;
  width: 100%;
  background-color: hsl(var(--color-accent-3));
}

.destination__info {
  display: none;
}

.destination__info--selected {
  display: block;
}

.destination__distance-container {
  margin-bottom: 1.5rem;
}

.destination__distance-heading {
  text-align: center;
}

.destination__distance-value {
  text-align: center;
}

.destination__time-container {
}

.destination__time-heading {
  text-align: center;
}

.destination__time-value {
  text-align: center;
}

/******************************************************************************
Crew Section
******************************************************************************/

.crew {
  position: relative;
}

.crew__background {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.crew__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem 2rem 2rem 2rem;
}

.crew__heading {
}

.crew__heading-number {
  font-weight: bold;
  color: hsl(var(--color-accent-2), var(--opacity-heading-number));
}

.crew__crewmate-image-container {
  border-bottom: 2px solid hsl(var(--color-accent-3));
}

.crew__crewmate-image {
  display: none;
  width: 70%;
  margin: auto;
}

.crew__crewmate-image--selected {
  display: block;
}

.crew__nav {
}

.crew__list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.crew__list-item {
}

.crew__nav-button {
  border: none;
  padding: 7px;
  border-radius: 50%;
  background-color: hsl(var(--color-accent-2), var(--opacity-nav-dot));
}

.crew__nav-button:not(.crew__nav-button--selected):hover,
.crew__nav-button:not(.crew__nav-button--selected):focus {
  background-color: hsl(var(--color-accent-2), var(--opacity-nav-dot-hovered));
}

.crew__nav-button--selected {
  background-color: hsl(var(--color-accent-2));
}

.crew__crewmate-heading {
  display: none;
  text-align: center;
}

.crew__crewmate-title {
  color: hsl(var(--color-accent-2), 0.5);
}

.crew__crewmate-heading--selected {
  display: block;
}

.crew__crewmate-description {
  display: none;
  text-align: center;
}

.crew__crewmate-description--selected {
  display: block;
}

/******************************************************************************
Technology Section
******************************************************************************/

/******************************************************************************
Global Styles
******************************************************************************/

a,
a:visited,
a:link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p {
  margin: 0;
}

/******************************************************************************
Global Classes
******************************************************************************/

.hidden {
  display: none;
}
